#error-element {
    display: none;
}

.nav-pills-custom .nav-link {
    color: #000;
    /* background: #fff; */
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #000;
    background: #26abff;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


/* Forms */
.req-col {
    position:relative;
    margin-right:15px;
}

.req-col::before {
    content: "*";
    color: red;
    position:absolute;
    left:-6px;
    top:-2px;
}
  
/* Hide all steps by default: */
.form-tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}