{% extends 'base.html' %}

{% block title %}
    Error
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="jumbotron">
                <h1 class="display-3">{{status_code['title']}}</h1>
                <p class="lead">{{status_code['description']}}</p>
                <hr class="my-2">
                <p>{{status_code['secondary']}}</p>
                <br>
                {% if resource is not none %}
                <p class="text-center">Back to <a href="{{resource['route']}}">{{resource['title']}}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}