<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyTicks</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MyTicks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search MyTicks" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
    <div class="ml-4">
        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1>Add New Area</h1>
            </div>
        </div>
        <!-- Add Entry Form -->
        <!-- Header (Current Path) -->
        <div class="row">
            <div class="col-md-12">
                <!-- Flask for href to link back to parent -->
                <h4><a href="/climbs/entry_id">Parent Name Flask</a></h4>
            </div>
        </div>
        <form id='area-form'>
            <div class="form-group-row">
                <div class="col-md-6">
                    <label for="areaNameInput">Area Name</label>
                    <input id="areaNameInput" type="text" class="form-control" placeholder="Area Name">
                </div>
            </div>
            <div class="form-group-row">
                <div class="col-md-6">
                    <label for="areaDescriptionInput">Area Description</label>
                    <input id="areaDescriptionInput" type="text" class="form-control" placeholder="Area Description" style="height: 150px;">
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-md-12">
                  <button id="area-form-submit" type="submit" class="btn btn-dark">Submit</button>
                </div>
              </div>
        </form>
    </div>
</body>
<!-- Ajax/Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- D3 -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- Personal JS -->
<script src="{{url_for('static', filename='javascript/dbresponse.js')}}"></script>
</html>