{% extends 'base.html' %}

{% block title %}
    {{parent['name']}}
{% endblock %}

{% block header %}
    <div class="row ml-4">
        <div class="col-md-12">
            <h1>Add New Boulder</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Add Entry Form -->
    <!-- Header (Current Path) -->
    <div class="row ml-4">
        <div class="col-md-12">
            <!-- Flask for href to link back to parent -->
            <h4><a href="/area/{{parent['id']}}/{{parent['name']}}">{{parent['name']}}</a></h4>
        </div>
    </div>
    <form id='entry-form' class="needs-validation ml-4" novalidate>
        <input name="parent_id" type="text" style="display: none;" value="{{parent['id']}}" required>
        <input name="parent_name" type="text" style="display: none;" value="{{parent['name']}}" required>
        <input name="parent_path" type="text" style="display: none;" value="{{parent['parent']['path']}}" required>
        <input name="change-type" type="text" style="display: none;" value="boulder" required>
        <div class="form-group-row">
            <div class="col-md-6">
                <label for="name">Name</label>
                <input name="name" type="text" class="form-control" placeholder="Boulder Name" required>
                <div class="invalid-feedback">Can't think of a name? Use 'Unnamed' for now.</div>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-1 ml-3 mr-0">
                <!-- <label for="grade">V Grade</label> -->
                <!-- On entry only whole grades available -->
                <select class="custom-select" name="grade" type="number" min="-1" max="17" style="width: auto" required>
                    <option selected value="">V Grade</option>
                    <option value="-1">VB</option>
                    <option value="0">V0</option>
                    <option value="1">V1</option>
                    <option value="2">V2</option>
                    <option value="3">V3</option>
                    <option value="4">V4</option>
                    <option value="5">V5</option>
                    <option value="6">V6</option>
                    <option value="7">V7</option>
                    <option value="8">V8</option>
                    <option value="9">V9</option>
                    <option value="10">V10</option>
                    <option value="11">V11</option>
                    <option value="12">V12</option>
                    <option value="13">V13</option>
                    <option value="14">V14</option>
                    </select>
            </div>
            <div class="col-md-1 mr-0">
                <!-- <label for="danger">Danger</label> -->
                <select name="danger" type="number" min="0" max="3" class="custom-select" style="width: auto" required>
                    <option selected value="">Danger</option>
                    <option value="0">G</option>
                    <option value="1">PG-13</option>
                    <option value="2">R</option>
                    <option value="3">X</option>
                </select>
            </div>
            <div class="col-md-2">
                <!-- <label for="height">Height (ft)</label> -->
                <input name="height" type="number" min="0" size="4" maxlength="4" class="form-control" placeholder="Height (ft)"  style="width: auto" required>
            </div>
            <div class="col-md-1">
                <!-- <label for="quality">Quality</label> -->
                <select name="quality" type="number" min="0" max="5" class="custom-select" style="width: auto" required>
                    <option selected value="">Quality</option>
                    <option value="0">&#128163</option>
                    <option value="1">&#9733</option>
                    <option value="2">&#9733&#9733</option>
                    <option value="3">&#9733&#9733&#9733</option>
                    <option value="4">&#9733&#9733&#9733&#9733</option>
                    <option value="5">&#9733&#9733&#9733&#9733&#9733</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-group-row">
            <div class="col-md-6">
                <label for="fa">First Ascenscionist</label>
                <input name="fa" type="text" class="form-control" placeholder="First Ascenscionist" required>
                <div class="invalid-feedback">Unsure? Just put 'Unknown'.</div>
            </div>
        </div>
        <br>
        <div class="form-group-row">
            <div class="col-md-6">
                <label for="description">Description</label>
                <input name="description" type="text" class="form-control" placeholder="Boulder Description" style="height: 150px;" required>
                <div class="invalid-feedback">Try describing some obvious features or where this climb is on the wall.</div>
            </div>
        </div>
        <br>
        <div class="form-group-row">
            <div class="col-md-6">
                <label for="pro">Protection</label>
                <input name="pro" type="text" class="form-control" placeholder="Protection" required>
                <div class="invalid-feedback">How many pads should someone bring?</div>
            </div>
        </div>
        <!-- Google Maps API for location -->
        <!-- <div class="form-group-row">
            <div class="col-md-6">
                <label for="areaDescriptionInput">Area Description</label>
                <input id="areaDescriptionInput" type="text" class="form-control" placeholder="Area Description" style="height: 150px;">
            </div>
        </div> -->
        <br>
        <div class="form-group row mt-2">
            <div class="col-md-12">
                <button id="area-form-submit" type="button" class="btn btn-dark">Submit</button>
            </div>
            </div>
    </form>
{% endblock %}