{% extends 'base.html' %}

{% block title %}
Mass Import
{% endblock %}

{% block header %}
    <div class="row ml-4">
        <div class="col-md-11">
            <h1>Mass Import Tool</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <br>
    <!-- File Upload -->
    <div id="fileform" class="row">
        <div class="col-md-8 offset-2">
            <h4>File Upload</h4>
            <br>
            <form action="">
                <label for="mifile">Select a file: </label>
                <input type="file" id="mifile" name="mifile"><br><br>
            </form>
            <button id="continue" style="display: none">Continue?</button>
        </div>
    </div>
    <!-- Processing -->
    <div id="processing" style="display: none">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h4>Intructions:</h4>
                <p>The importer will prompt you asking for confirmation of parent area...</p>
            </div>
        </div>
        <div id="dataRow" class="row">
            <div class="col-md-8 offset-2">
                <h6>Data</h6>
                <p id="currentRow"></p>
            </div>
        </div>
        <div id="buttonsRow" class="row">
            <div class="col-md-8 offset-2">
                <button id="yesButton">Yes</button>
                <button id="noButton">No</button>
                <button id="skipButton">Skip</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <!-- CSV Reader -->
    <script src="{{url_for('static', filename='javascript/massimport.js')}}"></script>
{% endblock %}