{% extends 'base.html' %}

{% block title %}
Search
{% endblock %}

{% block header %}
    <div class="row ml-4">
        <div class="col-md-12">
            <h1>MyTicks Search</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
<br>
<!-- Search Results -->
<div>
    <!-- Check for results, present them if True -->
    {% if results['areas'] or results['climbs'] %}
    
    <!-- Title/ Search Terms -->
    <div class="row ml-4">
        <div class="col-md-8 offset-1">
            <h5>Results for '{{search_terms}}'</h5>
        </div>
    </div>
    <br>
    <!-- Results -->
    <div class="row ml-4">
        {% if results['areas'] %}
        <!-- Areas -->
        <div class="col-md-4 offset-1">
            <h6>Areas</h6>
            {% for r in results['areas'] %}
            <div class="row">
                <div class="col-md">
                    <a href="/area/{{r.id}}/{{r.name}}">{{r.name}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if results['climbs'] %}
        <!-- Climbs -->
        <div class="col-md-4">
            <h6>Climbs</h6>
            {% for r in results['climbs'] %}
            <div class="row">
                <div class="col-md">
                    <a href="/area/{{r.parent.id}}/{{r.parent.name}}#v-pills-{{r.climb_type}}-{{r.id}}">{{r.name}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% else %}
    <!-- Else print "no results found" -->
    <br>
    <div class="row ml-4">
        <div class="col-md offset-3">
            <h3>Sorry, we couldn't find any results matching '{{search_terms}}'.</h3>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}